<div class="auth-wrapper">
  <div class="auth-card">
    
    @if (!codigoEnviado) {
      <h2>Crea tu <span>Cuenta</span></h2>
      <p>Regístrate para unirte a los desafíos en Marinilla</p>
      
      <!-- Usamos (ngSubmit) y prevenimos el refresco de página -->
      <form (ngSubmit)="registrar()">
        <div class="input-group">
          <input type="text" [(ngModel)]="usuario.nombre" name="nombre" placeholder="Nombre completo" required>
        </div>
        <div class="input-group">
          <input type="text" [(ngModel)]="usuario.documento" name="documento" placeholder="Cédula / Documento" required>
        </div>
        <div class="input-group">
          <input type="email" [(ngModel)]="usuario.email" name="email" placeholder="Correo electrónico" required>
        </div>
        <div class="input-group">
          <input type="password" [(ngModel)]="usuario.password" name="password" placeholder="Contraseña segura" required>
        </div>
  
        <!-- BOTÓN CON BLOQUEO DINÁMICO -->
        <button type="submit" class="btn-neon" [disabled]="enviandoPeticion">
          <span *ngIf="!enviandoPeticion">Enviar Código al Correo</span>
          <span *ngIf="enviandoPeticion">Enviando...</span>
        </button>
      </form>
      <p>Ya tienes cuenta?<a routerLink="/login"> Inicia sesión aquí</a></p>

    } 
    
    @else {
      <h2>Verifica tu <span>Email</span></h2>
      <p>Hemos enviado un código de 6 dígitos a:<br><strong>{{ usuario.email }}</strong></p>
      
      <div class="verification-box">
        <input type="text" [(ngModel)]="codigoIngresado" maxlength="6" placeholder="000000" class="input-code">
        
        <!-- BOTÓN DE VALIDACIÓN CON BLOQUEO -->
        <button (click)="verificarCodigo()" class="btn-neon" [disabled]="enviandoPeticion">
          <span *ngIf="!enviandoPeticion">Validar Cuenta</span>
          <span *ngIf="enviandoPeticion">Validando...</span>
        </button>
        
        <button (click)="codigoEnviado = false" class="btn-back" [disabled]="enviandoPeticion">
          Corregir correo
        </button>
      </div>
    }

  </div>
</div>