<div class="register-page">
  <div class="glass-container">
    <div class="register-box">
      <h2>Crea tu <span>Cuenta</span></h2>
      <p class="subtitle">Regístrate para unirte a los desafíos en Marinilla</p>

      <form (ngSubmit)="onRegister()">
        <div class="input-group">
          <input type="text" name="nombre" [(ngModel)]="registroData.nombre" required placeholder="Nombre completo">
        </div>

        <div class="input-group">
          <input type="text" name="cedula" [(ngModel)]="registroData.cedula" required placeholder="Cédula / Documento">
        </div>
        
        <div class="input-group">
          <input type="email" name="correo" [(ngModel)]="registroData.correo" required placeholder="Correo electrónico">
        </div>
        
        <div class="input-group">
          <input type="password" name="password" [(ngModel)]="registroData.password" required placeholder="Contraseña segura">
        </div>
        
        <button type="submit" class="btn-register">ENVIAR CÓDIGO AL CORREO</button>
      </form>

      <div class="auth-footer">
        <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión aquí</a></p>
      </div>
    </div>
  </div>
</div>