<div class="main-layout">
  <div class="background-blobs">
    <div class="blob cian"></div>
    <div class="blob purple"></div>
  </div>

  <nav class="glass-nav" *ngIf="estaLogueado">
    <div class="logo" routerLink="/galeria">
      Micro<span>Street</span>
    </div>
    
    <div class="nav-actions">
      <button class="btn-create" routerLink="/crear-partido">Crear Partido</button>
      <button class="btn-auth" (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
  </nav>

  <main class="content-wrapper">
    <router-outlet></router-outlet>
  </main>
</div>