<div class="main-container">
  <header class="header">
  </header>
  <div class="login-box-container">
    <form class="login-box" (ngSubmit)="onLogin()">
      <h2>Inicia tu <span class="highlight">Sesión</span></h2>
      <p class="subtitle">Ingresa para unirte a los desafíos en Marinilla</p>
      
      <div class="form-group">
        <input 
          type="email" 
          name="email" 
          [(ngModel)]="loginData.email" 
          required 
          placeholder="Correo electrónico">
      </div>

      <div class="form-group">
        <input 
          type="password" 
          name="password" 
          [(ngModel)]="loginData.password" 
          required 
          placeholder="Contraseña">
      </div>
      <button type="submit" class="btn-cyan">INGRESAR</button>
    </form>
     
  </div>
  <p>No tienes cuenta? <a routerLink="/registro">Regístrate aquí</a></p>
</div>